.carousel {
  margin: auto auto;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 425px;
  height: 350px;
  position: relative;
  /* overflow: hidden; */
}
.slide {
  border: 1px solid green;
  display: flex;
  text-align: center;
  width: 100%;
  max-width: 300px;
  transition: all 0.5s;
}
.left-carousel-btn,
.right-carousel-btn {
  font-size: 4rem;
  color: #bafdffd7;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}
.disabled {
  pointer-events: none;
  color: #89b9bbd7;
}
