.carousel {
  margin: auto auto;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  height: 200px;
  position: relative;
}
.slide {
  border: 1px solid green;
  display: flex;
  text-align: center;
  width: 100%;
  max-width: 130px;
  transition: all 0.5s;
}
.slide img {
  width: 200%;
  margin-left: -1.5em;
}
.left-carousel-btn,
.right-carousel-btn {
  font-size: 4rem;
  color: #89b9bbd7;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.left-carousel-btn:hover,
.right-carousel-btn:hover {
  color: #bafdffd7;
}
figcaption {
  color: white;
}
