.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  gap: 1em;
  color: white;
  font-size: 0.8rem;
}
.carousel {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 250px;
  height: 200px;
  position: relative;
}
.slide {
  display: flex;
  text-align: center;
  min-width: 130px;
  transition: all 0.5s;
  overflow: hidden;
}

.slide img {
  width: 200%;
  margin-left: -1.5em;
}

.fig-fade-in {
  animation: fadeIn 200ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left-carousel-btn,
.right-carousel-btn {
  font-size: 4rem;
  color: #89b9bbd7;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.left-carousel-btn:hover,
.right-carousel-btn:hover {
  color: #bafdffd7;
}
figcaption {
  color: white;
}

/* .slide-out-left {
  animation: slideOutLeft 250ms forwards;
} */

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500px);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500px);
  }
}
